configuration/initializers/stripe.rb
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/uploads/tmp/20111126-1111-2318-3583/IMG_0073.JPG
public/uploads/tmp/20111126-1111-2318-3583/thumb_IMG_0073.JPG
public/uploads/user/logo_image/12/thumb_workout-tips.jpg
public/uploads/user/logo_image/12/workout-tips.jpg
public/uploads/user/logo_image/7/IMG_0030.jpg
public/uploads/user/logo_image/7/thumb_IMG_0030.jpg
public/uploads/user/logo_image/7/IMG_0077.jpg
public/uploads/user/logo_image/7/thumb_IMG_0077.jpg
