- title 'Edit Image'
= link_to image_tag(image_path(@image, :jpg)), image_path(@image, :jpg, :size => :medium), :class => :gallery
- semantic_form_for(@image, :url => image_url(@image), :html => {:method => :put}) do |f|
  = f.error_messages
  = f.input :caption, :required => false
  = f.buttons
