- title "New Workout Session"

= "When: "

- form_tag quick_create_path, :method => 'get', :id => "quick_create_workout_session" do
  = text_field_tag :workout_name, params[:workout_name], :size => 12
  = submit_tag "Create workout", :name => nil