
body {
  background-color: #625D5D;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

table { margin:0;  padding:0;  border:0;  font-weight:inherit;  font-style:inherit;  font-size:100%;  font-family:Arial,Helvetica,sans-serif;  vertical-align:baseline}
table { border-collapse: collapse; border-spacing: 0; }
table, td, th { vertical-align: middle; }

table { font-size: 12px; border-spacing: 1em; width: 100%; border-collapse: collapse; line-height: 1em; margin-bottom: 18px; padding:10px}
table td, th { vertical-align: middle; text-align:left; padding: 1px; }
table tr { height: .1px;}

a img {
  border: none;
}

a, a:link, a:active, a:visited {text-decoration:none; font-weight:bold; color:#00323C }
a:hover{text-decoration:underline; cursor:pointer}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 85%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  overflow:hidden;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.float_right{float: right}

.span-1{width:30px}
.span-2{width:70px}
.span-3{width:110px}
.span-4{width:150px}
.span-5{width:190px}
.span-6{width:230px}
.span-7{width:270px}
.span-8{width:310px}
.span-9{width:350px}
.span-10{width:390px}
.span-11{width:430px}
.span-12{width:470px}
.span-13{width:510px}
.span-14{width:550px}
.span-15{width:590px}
.span-16{width:630px}
.span-17{width:670px}
.span-18{width:710px}
.span-19{width:750px}
.span-20{width:790px}
.span-21{width:830px}
.span-22{width:870px}
.span-23{width:910px}
.span-24{width:950px}
.span-25{width:990px; margin-right: 0}

input.span-1, textarea.span-1{width:18px!important}
input.span-2, textarea.span-2{width:58px!important}
input.span-3, textarea.span-3{width:98px!important}
input.span-4, textarea.span-4{width:138px!important}
input.span-5, textarea.span-5{width:178px!important}
input.span-6, textarea.span-6{width:218px!important}
input.span-7, textarea.span-7{width:258px!important}
input.span-8, textarea.span-8{width:298px!important}
input.span-9, textarea.span-9{width:338px!important}
input.span-10, textarea.span-10{width:378px!important}
input.span-11, textarea.span-11{width:418px!important}
input.span-12, textarea.span-12{width:457px!important}
input.span-13, textarea.span-13{width:498px!important}
input.span-14, textarea.span-14{width:538px!important}
input.span-15, textarea.span-15{width:578px!important}
input.span-16, textarea.span-16{width:618px!important}
input.span-17, textarea.span-17{width:658px!important}
input.span-18, textarea.span-18{width:698px!important}
input.span-19, textarea.span-19{width:738px!important}
input.span-20, textarea.span-20{width:778px!important}
input.span-21, textarea.span-21{width:818px!important}
input.span-22, textarea.span-22{width:858px!important}
input.span-23, textarea.span-23{width:898px!important}
input.span-24, textarea.span-24{width:938px!important}

.round{-moz-border-radius:4px; -webkit-border-radius:4px;}
input[type=text], input[type=password], input.text, input.title, textarea{display: block; background-color:#fff; border-top:solid 1px #333; border-right:solid 1px #ccc; border-bottom:solid 1px #ccc; border-left:solid 1px #333; font-family:Arial,Helvetica,sans-serif; color:#333; margin:5px 0 18px 0}

input.text, input.title{padding:4px}
input.text{font-size:.875em}

/*** EXERCISE BOX ***/
.exercise_box {background-color: #EFEFEF; float:left; width:702px; padding:20px 20px 0px 20px; text-align:left; text-align:center; border:1px solid #b3b3b3; text-align:left; display:block;}
.exercise_box ol{margin:0}

.exercise_box{margin:10px 10px 10px 20px}

.exercise_box h2{font-size:1.75em; font-weight:bold; display:block; width:100%; padding:10px 0; border-bottom:solid 1px}
.exercise_box h2{border-color:#ccc; color:#64CDBE}
.exercise_box h2 em{font-style:italic}

.exercise_box p{font-size:.875em; display:block; margin:0}

.exercise_box label{font-size:.875em; color:#333}

.exercise_box button[type=submit]{padding:8px; font-size:1em; margin:0}
.exercise_box input.title{width:100%}
.exercise_box input.text

.exercise_box label em{font-weight:bold; color:#64CDBE}

/*** WORKOUT BOX ***/
.workout_box {float:left; width:760px; padding:20px 20px 0px 20px; text-align:left; text-align:center; border:1px solid #b3b3b3; text-align:left; display:block}
.workout_box ol{margin:0}

.workout_box{margin:10px 10px 10px 20px}

.workout_box h2{font-size:1.75em; font-weight:bold; display:block; width:100%; padding:10px 0; border-bottom:solid 1px}
.workout_box h2{border-color:#ccc; color:#64CDBE}
.workout_box h2 em{font-style:italic}

.workout_box p{font-size:.875em; display:block; margin:0}

.workout_box label{font-size:.875em; color:#333}

.workout_box button[type=submit]{padding:8px; font-size:1em; margin:0}
.workout_box input.title{width:100%}
.workout_box input.text

.workout_box label em{font-weight:bold; color:#64CDBE}

.grey_box{width:402px; background-color: #EFEFEF; padding: 8px;border: 1px solid #b3b3b3; margin: 10px 0;}
.grey_box h3 {font-weight: bold; color:#00323C}
.grey_box p{font-size:.875em; display:block; margin:0}
.grey_box label{font-size:.875em; color:#333}
.grey_box button[type=submit]{padding:8px; font-size:1em; margin:0}
.grey_box input.title{width:100%}

.little_grey_box{font-size:.875em;width:125px; background-color: #EFEFEF; padding: 8px;border: 1px solid #b3b3b3; margin: 10px 0}
.little_grey_box h3 {font-weight: bold; color:#00323C}
.little_grey_box p{font-size:.875em; display:block; margin:0}
.little_grey_box label{font-size:.875em; color:#333}
.little_grey_box button[type=submit]{padding:8px; font-size:1em; margin:0}
.little_grey_box input.title{width:100%}

table.pretty {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
}
table.pretty th { text-align: left;  border: thin solid black; padding: 10px;}
table.pretty tr td { text-align: left;  border: thin solid black; padding: 10px;}

table.priority {
  width: 50%;
  border: thin solid black;
  border-collapse: collapse;
}
table.priority th { text-align: left;  border: thin solid black; padding: 10px;}
table.priority tr td { text-align: left;  border: thin solid black; padding: 10px;}

table.priority_box {
  width: 15%;
  height: 15%;
  border: thick solid blanchedalmond;
  border-collapse: collapse;
  padding: 1px;
  
  /* FOR CENTERING TABLE */
  margin-left: auto;
  margin-right: auto;
}
table.priority_box th { text-align: left;  border:thick solid blanchedalmond;; padding: 2px;}
table.priority_box tr td { text-align: left;  border: thick solid blanchedalmond;; padding: 2px;}

/*table.biosig {
  
  border: thin solid black;
  border-collapse: collapse;
  font-size:9px;
  width: 100%;
  padding: 1px;
  margin: .05em;
}
table.biosig th { text-align: left;  border: thin solid black; padding: 2px;}
table.biosig tr td { text-align: left;  border: thin solid black; padding: 2px;}*/

table.volume, table.weight, table.bodyfat, table.weight, table.leanmass, table.fatmass, table.chin, table.cheek, table.pec, table.tri, table.subscap, table.suprailiac, table.midaxil, table.umbilical, table.knee, table.calf, table.quad, table.ham, table.sumof10, table.sumof12 {width: 750px;}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

.hide{display:none}

/* --FOR BIOSIGNATURE PRIORITY COLOR CELLS-- */
/*.red{font-weight:bold; color:#800517; background-color: #CCCCCC}
.blue{font-weight:bold; color:#15317E; background-color: #CCCCCC}
.green{font-weight:bold; color:#306754; background-color: #CCCCCC}*/
.red{font-weight:bold; background-color: #800517; color:#FFFFFF;}
.blue{font-weight:bold; background-color: #15317E; color:#FFFFFF;}
.green{font-weight:bold; background-color: #306754; color:#FFFFFF;}

/* --BOLD COLORED TEXT-- */
.red_text{font-weight:bold; color:#800517}
.blue_text{font-weight:bold; color:#15317E}
.green_text{font-weight:bold; color:#306754}

/* --BOLD COLORED BACKGROUND-- */
.red_back{font-weight:bold; background-color:#800517; }
.blue_back{font-weight:bold; background-color:#15317E; }
.green_back{font-weight:bold; background-color:#306754; }


#photos .photo {
  padding: 15px 10px;
}

/* --PDF FILE STYLE-- */
@media print {
  body {
    background-color: #FFF;
    font-size: 10px;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

  #pdf_remove {
    display: none;
  }
  .little_grey_box {
    display: none;
  }
  .exercise_box {
    width: 400px;
  }

}