%h1 HCl Acid Test
= link_to image_tag("pdf-icon.png", :alt => "PDF"), acid_test_client_path(@client, :format => "pdf"), :id => 'pdf_remove', :title => "Convert to PDF format for printing", :class => 'tool-tip'


%p Directions:

%p Take 1 capsule halfway through meal. Finish meal, wait 10 minutes. If you feel a warm sensation (similar to when you a hot cup of tea), you can stop the test. You do not need any additional HCl.

%p If you do not feel the warm sensation, repeat the test taking 2 capsules midway through your next meal. Wait 10 minutes to see if you feel the warmth.

%p Repeat this process, increasing by 1 capsule at each meal (halfway through meal) until you feel the warm sensation. DO NOT EXCEED 7 CAPSULES.

%p Once you feel the warm sensation, decrease the dose by 1 capsule at the next meal and take that dose until you experience the warmth again. Continue decreasing the dose by 1 capsule until you experience this feeling at only 1 DigestForce.

%p If you do not feel the warmth at 7 capsules, you are achloridic and you will need another product called Ultra HCl 4.0.

%p
  %strong *Warning: Do not take these products if you have stomach ulcers or a history of ulcers.