- title "Clients"

%ul.invisible
  %li= link_to "New", new_client_path, :class => 'button'
  %li= link_to "Back", nil, :class => 'back'


- for client in @clients
  %ul
    %li.arrow
      = link_to client.full_name, client_path(client)
