<h1>Male Sample Food Week</h1>
<%= link_to image_tag("pdf-icon.png", :alt => "PDF"), male_food_week_client_path(@client, :format => "pdf"), :id => 'pdf_remove', :title => "Convert to PDF format for printing", :class => 'tool-tip' %>

<div>
  <table border=1 bordercolor=#000000 cellpadding=3 cellspacing=0 class="" id=av.0 width=100%>
    <tbody>
    <tr>
      <td width=5%>
        <font size=1><b>Meal</b><br>

        </font>
      </td>
      <td width=16%>
        <font size=1><b>Monday</b><br>
        </font>
      </td>
      <td width=16%>
        <font size=1><b>Tuesday</b><br>

        </font>
      </td>
      <td width=16%>
        <font size=1><b>Wednesday</b><br>
        </font>
      </td>
      <td width=16%>
        <font size=1><b>Thursday</b><br>

        </font>
      </td>
      <td width=16%>
        <font size=1><b>Friday</b><br>
        </font>
      </td>
    </tr>
    <tr>

      <td width=5%>
        <font size=1><b>Breakfast<br>
        8am<br>
        </b></font>
      </td>
      <td width=16%>
        <font size=1>Omelette: 4 eggs, 1/4 pound turkey sausage, slice of cheese, green peppers, onions, tomatoes, avocado.</font><font size=1><br>

        Tea/Coffee (full fat cream, no sugar)</font><br>
        <font size=1>Fish oil capsules (3)<br>
        </font>
      </td>
      <td width=16%>
        <font size=1>Venison steak, handful of cashews<br>
        3/4 cup yogurt<br>
        3/4 cup blueberries</font><br>

        <font size=1>Tea/Coffee (full fat cream, no sugar)</font><br>
        <font size=1>Fish oil</font><font size=1> capsules (3)</font><br>
      </td>
      <td width=16%>
        <font size=1>1/2 pound ground buffalo, handful of almonds<br>
        grapefruit<br>
        1 cup cottage cheese</font><br>

        <font size=1>Tea/Coffee (full fat cream, no sugar)</font><br>
        <font size=1>Fish oil</font><font size=1> capsules (3)</font>
      </td>
      <td width=16%>
        <font size=1>1/2 pound lean ground beef, handful of walnuts </font><br>

        <font size=1>Tea/Coffee (full fat cream, no sugar)</font><br>
        <font size=1>Fish oil</font><font size=1> capsules (3)</font><br>
      </td>
      <td width=16%>
        <font size=1>1/2 pound lean turkey burger, handful of macadamia nuts<br>
        1 apple<br>
        2 oz cheese</font><br>

        <font size=1>Tea/Coffee (full fat cream, no sugar)</font><br>
        <font size=1>Fish oil</font><font size=1> capsules (3)</font>
      </td>
    </tr>
    <tr>
      <td width=5%>
        <font size=1><b>Post-workout<br>

        Shake<br>
        10:30am<br>
        </b></font>
      </td>
      <td width=16%>
        <font size=1>1 cup water<br>
        1 cup berries<br>
        1 cup grape juice<br>
        40g whey protein<br>
        20g glutamine<br>
        greens<br>
        </font><font size=1>Tbl coconut oil</font><br>
      </td>
      <td width=16%>
        <font size=1>1 cup water<br>
        1 cup berries<br>
        1 cup grape juice<br>
        40g whey protein<br>
        20g glutamine<br>
        greens<br>
        </font><font size=1>Tbl coconut oil</font>
      </td>

      <td width=16%>
        <font size=1>1 cup water<br>
        1 cup berries<br>
        1 cup grape juice<br>
        40g whey protein<br>
        20g glutamine<br>
        greens<br>

        </font><font size=1>Tbl coconut oil</font>
      </td>
      <td width=16%>
        <font size=1>1 cup water<br>
        1 cup berries<br>
        1 cup grape juice<br>
        40g whey protein<br>
        20g glutamine<br>
        greens<br>
        </font><font size=1>Tbl coconut oil</font>
      </td>
      <td width=16%>
        <font size=1>1 cup water<br>
        1 cup berries<br>
        1 cup grape juice<br>
        40g whey protein<br>
        20g glutamine<br>
        greens<br>
        </font><font size=1>Tbl coconut oil</font>
      </td>
    </tr>
    <tr>
      <td width=5%>

        <font size=1><b>Lunch<br>
        12:30pm<br>
        </b></font>
      </td>
      <td width=16%>
        <font size=1>Sprouted grain sandwich (veggies, lean meat cheese)<br>
        </font><font size=1>Green tea<br>

        </font><font size=1>Fish oil</font><font size=1> capsules (3)</font>
      </td>
      <td width=16%>
        <font size=1>Chicken spinach salad: 1/2 pound cooked chicken breast, large handful spinach, slice of cheese, scallions, tomatoes, avocado, olive oil &amp; vinegar.</font><br>
        <font size=1>Green tea<br>

        </font><font size=1>Fish oil</font><font size=1> capsules (3)</font><br>
      </td>
      <td width=16%>
        <font size=1>Buffalo burger: 1/2 pound ground buffalo, slice of cheese</font><font size=1>, romaine lettuce (wrap)</font><br>
        <font size=1>Green tea<br>
        </font><font size=1>Fish oil</font><font size=1> capsules (3)</font>

      </td>
      <td width=16%>
        <font size=1>Mediterranean salad: 1/2 pound turkey breast, cucumber, tomato, olive oil</font><br>
        <font size=1>Green tea<br>
        </font><font size=1>Fish oil</font><font size=1> capsules (2)</font><br>
      </td>

      <td width=16%>
        <font size=1>Sprouted grain burrito (</font><font size=1>veggies, lean ground beef cheese, beans)</font><br>
        <font size=1>Green tea<br>
        </font><font size=1>Fish oil</font><font size=1> capsules (3)</font><br>
      </td>
    </tr>

    <tr>
      <td width=5%>
        <font size=1><b>Snack<br>
        3pm<br>
        </b></font>
      </td>
      <td width=16%>
        <font size=1>3/4 cup hummus<br>

        1 cup vegetables</font><br>
      </td>
      <td width=16%>
        <font size=1>1 cup cottage cheese<br>
        </font><font size=1>1 orange</font><br>
      </td>
      <td width=16%>

        <font size=1>1 apple<br>
        3/4 cup nuts</font><br>
      </td>
      <td width=16%>
        <font size=1>1/2 cantaloupe<br>
        2 oz cheese</font><br>
      </td>

      <td width=16%>
        <font size=1>1 cup yogurt<br>
        1 cup strawberries</font><br>
      </td>
    </tr>
    <tr>
      <td width=5%>
        <font size=1><b>Dinner<br>

        5:30pm<br>
        </b></font>
      </td>
      <td width=16%>
        <font size=1>Lentil-based recipe</font><br>
        <font size=1>Sauteed squash with parmesan</font><br>
        <font size=1>Glass of red wine</font><br>

        <font size=1>Fish oil </font><font size=1>capsules (3)<br>
        Piece of dark chocolate<br>
        </font>
      </td>
      <td width=16%>
        <font size=1>Quinoa-based recipe with chicken</font><br>
        <font size=1>Steamed aspargus with butter</font><br>

        <font size=1>Glass of red wine<br>
        </font><font size=1>Fish oil </font><font size=1>capsules (3)</font><br>
        <font size=1>Piece of dark chocolate</font><br>
      </td>
      <td width=16%>
        <font size=1>Prawns sauteed in coconut oil<br>

        </font><font size=1>Steamed kale &amp; eggplant with butter</font><br>
        <font size=1>Glass of red wine</font><br>
        <font size=1>Fish oil capsules (3)</font><br>
        <font size=1>Piece of dark chocolate</font><br>
      </td>
      <td width=16%>

        <font size=1>Grilled pork tenderloin<br>
        </font><font size=1>Sauted green beans &amp; mushroom in butter</font><br>
        <font size=1>Glass of red wine</font><br>
        <font size=1>Fish oil </font><font size=1>capsules (3)</font><br>
        <font size=1>Piece of dark chocolate</font><br>

      </td>
      <td width=16%>
        <font size=1>Greek burger: 1/2 pound lean ground beef, feta, olive, garlic</font><font size=1>, romaine lettuce (wrap)</font><br>
        <font size=1>Grilled peppers</font><br>
        <font size=1>Glass of red wine<br>
        </font><font size=1>Fish oil </font><font size=1>capsules (3)</font><br>

        <font size=1>Piece of dark chocolate</font><br>
      </td>
    </tr>
    <tr>
      <td width=5%>
        <font size=1><b>Snack<br>
        8pm<br>

        </b></font>
      </td>
      <td width=16%>
        <font size=1>Cottage cheese</font><font size=1> &amp; apple</font>
      </td>
      <td width=16%>
        <font size=1>Cheese &amp; pear</font>

      </td>
      <td width=16%>
        <font size=1>Apple &amp; almond butter</font>
      </td>
      <td width=16%>
        <font size=1>Carrots/celery &amp; peanut butter&nbsp;</font>

      </td>
      <td width=16%>
        <font size=1>Rasberries &amp; cream</font>
      </td>
    </tr>
    </tbody>
  </table>

</div>
