-title "Tracker"

.info
  = "Welcome #{current_user.first_name}!"

%ul
  %li.arrow
    %a{:href => workout_sessions_path}
      Workouts
- if current_user.is_trainer?
  %ul
    %li.arrow
      %a{:href => clients_path}
        Clients
- if current_user.is_client? and !current_user.client.blank?
  %ul
    %li.arrow
      = link_to "Bodycomps", bodycomps_path(:client => current_user.client)
      