.exercise_box.round
  - form.inputs do
    =# form.input :workout, :as => :select, :collection => current_user.workouts
    = form.input :exercise, :as => :select, :collection => current_user.exercises, :input_html => {:class => 'span-6 text round'}
    =# link_to_add_fields "Add Another Exercise", form, :exercise_sessions
    - form.semantic_fields_for :weight_sets do |weight_set_form|
      = render :partial => '/weight_sets/form', :locals => {:form => weight_set_form}
    = form.input :rest, :label => "Rest (seconds)", :input_html => {:class => 'span-2 text round'}
    = form.input :tempo, :label => "Tempo (XXXX)", :input_html => {:class => 'span-2 text round'}