- title "Edit Body Comp"
#client_notice
  = link_to @client.full_name, client_path(@client), :title => "Client information", :class => "tool-tip"

= render 'form'

%p
  = link_to "Show", biosignature_path(@biosignature)
  =# link_to "View All", biosignatures_path
