- title "New Body Comp"
#client_notice
  = link_to "Client: " + @client.full_name, client_path(@client), :title => "Show client", :class => "tool-tip"

= render 'form'

%p= link_to "Back to List", biosignatures_path
